@import './Colors.scss';

.month-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  //background-color: $light-green;
  .month-button {
    padding: 8px;
    font-size: 14px;
    background-color: $pale-green;
  }

  .btn-success {
    background-color: $light-velvet;
    border-color: $dark-velvet;
  }
}
