.month-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px; }
  .month-container .month-button {
    padding: 8px;
    font-size: 14px;
    background-color: #b1af92; }
  .month-container .btn-success {
    background-color: #b1929a;
    border-color: #865763; }
