.day {
  margin: 15px;
  border: 2px solid orange;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  padding-right: 0px;
  -webkit-box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55);
  &:nth-last-child(n + 2) {
    background-color: lightblue;
  }
  &:nth-child(7n),
  &:nth-child(7n + 1) {
    background-color: palegreen;
  }

  .header {
    margin: 0px;
    padding: 5px;
    height: 30px;
  }
  .events-container {
    padding-top: 28px;
    width: 100%;
    padding: 0px;

    .event-record {
      border-bottom: 1px solid orange;
      min-height: 20px;
      list-style-type: none;
      font-size: 10px;
      margin-left: 0px;
      // flex-wrap: nowrap;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .time {
        // float: left;
        margin: 1px 5px 0px 5px;
        cursor: pointer;
        // flex: 0 0 32px;
      }

      .title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }
      .close {
        // flex: 0 0 12px;
        min-width: 12px;
        width: 12px;
        cursor: pointer;
        color: orange;
        .fas {
          float: right;
          font-size: 12px;
        }
      }
    }
  }
}

.num {
  float: left;
  //  margin: 5px;
  cursor: pointer;
  color: orange;
}
i {
  margin: 0px;
  padding: 0px;
  float: right;
  cursor: pointer;
  color: orange;
}
