.day {
  margin: 15px;
  border: 2px solid orange;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  padding-right: 0px;
  -webkit-box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 17px 53px -16px rgba(0, 0, 0, 0.55); }
  .day:nth-last-child(n + 2) {
    background-color: lightblue; }
  .day:nth-child(7n), .day:nth-child(7n + 1) {
    background-color: palegreen; }
  .day .header {
    margin: 0px;
    padding: 5px;
    height: 30px;
    color: orange; }
  .day .events-container {
    padding-top: 28px;
    width: 100%;
    padding: 0px; }
    .day .events-container .event-record {
      border-bottom: 1px solid orange;
      min-height: 20px;
      list-style-type: none;
      font-size: 10px;
      margin-left: 0px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .day .events-container .event-record .time {
        margin: 1px 5px 0px 5px;
        cursor: pointer; }
      .day .events-container .event-record .title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        margin-right: 2px;
        margin-top: 1px;
        margin-bottom: 1px; }
      .day .events-container .event-record .close {
        min-width: 12px;
        width: 12px;
        cursor: pointer;
        color: orange; }
        .day .events-container .event-record .close .fas {
          float: right;
          font-size: 12px;
          margin-right: 2px; }

.num {
  float: left;
  cursor: pointer; }

i {
  margin: 0px;
  padding: 0px;
  float: right;
  cursor: pointer; }
