$pink: #e2d3e4;
$light-green: #dee79c;
$pale-green: #b1af92;
$dark-velvet: #865763;
$light-velvet: #b1929a;

.month {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.week-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  .day-title {
    width: 200px;
    font-size: 16px;
    opacity: 1;
    &:nth-child(7n),
    &:nth-child(7n + 1) {
      opacity: 0.6;
    }
  }
}

.addform {
  height: 350px;
  width: 42%;
  position: absolute;
  background-color: white;
  border: solid 2px $dark-velvet;
  -webkit-box-shadow: 0px 17px 53px 8px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 17px 53px 8px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 17px 53px 8px rgba(0, 0, 0, 0.55);
  top: 30%;
  left: 29%;
  z-index: 10;
  border-radius: 15px;
}

#appt-time {
}

.fa-times-circle {
  position: relative;
  float: right;
  font-size: 1.3em;
  margin: 5px;
}

.form-group {
  &i {
    color: $pale-green;
    &:hover {
      color: $light-velvet;
    }
  }
}
.addform {
  padding: 15px;
  i {
    color: $pale-green;
    &:hover {
      color: $light-velvet;
    }
  }
}

input {
  margin-top: 20px;
}

.btn {
  background-color: $pale-green;
  border-color: $light-green;
  &:hover {
    background-color: $light-velvet;
    border-color: $dark-velvet;
  }
}
