@import './Colors.scss';

.month {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.week-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  .day-title {
    width: 200px;
    font-size: 16px;
    opacity: 1;
    &:nth-child(7n),
    &:nth-child(7n + 1) {
      opacity: 0.6;
    }
  }
}
